.wrap,.block,.familyMember, .title, .month-duration, .hour-duration, .modules div, .item {
    background-color: #f0f0f0;
    color: #333;
    font-size: 18px;
    padding: 20px;
    margin: 10px;
    color: #07076c;
    border-radius: 5px;
}

.alpha {
    opacity: 0.5;
}

.beta {
    border: 2px solid #999;
}

.wrap {
    width: 300px;
}

.collapse {
    display: inline-block;
}

.member {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}
.member img {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 20px;
}
.familyMember, .parent-container, .item{
    width: 700px;
}

.parent-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course {
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.duration {
    display: flex;
    justify-content: space-between;
}
.month-duration{
    width: 35%;
}

.hour-duration{
    width: 65%;
}
.modules {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.modules div {
    width: 100%;
    background-color: #f0f0f0;
    padding: 5px 10px;
}