.output, .number, .text, .number,.price-block,.But{
    margin-top: 20px;


}

.div, .text, .RCCon{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.Container{
    width: 500px;
    height: 200px;
    margin: 20px;


}
.price-block {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}